body{
    background-image: url("baner.jpg");
    background-size: cover;
    background-position: center;
}

#porzadek{
    flex-direction: column;
}

#model{
display: flex;
flex-wrap: wrap;
align-items: center;
margin: 10rem 4rem 10rem 0rem;
}

#model img {
height: 700px;
width: 700px;
margin: 4rem;
transition: transform 0.5s;
}

#model img:hover {
    border: 2px solid PaleGoldenRod;
	font-weight: 600;
	letter-spacing: 1px;
	transform: scale(1.1);
}

#opis{
width: 700px;
height: 700px;
resize: none;
margin-left: 10px;
color: palegoldenrod;
text-align: center;
font-size: 1.2rem;
transition: transform 0.5s;

}

#opis:hover {
	font-size: 1.257rem;
}

.opis-background{
    background-color: black;
    opacity: 0.8;
    border-radius: 1rem;
	display: flex;
	justify-content: center;
	transition: transform 0.5s;
 margin: 2rem;
}

.opis-background:hover{
    width: 800px;
	height: 800px;
	border: 2px solid PaleGoldenRod;
	transform: scale(1.1);
}

::-webkit-scrollbar {
  width: 20px;
}

::-webkit-scrollbar-track {
  box-shadow: inset 0 0 5px transparent;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb {
  background: PaleGoldenRod;
  border-radius: 10px;
}